<%- include('includes/_head'); %>
<%- include('includes/_nav'); %>
    <section class="container">
        <div class="col-lg-2"></div>
        <div class="col-lg-12 my-3">
            <h1 class="text-center">Login / Register</h1>
            <p class="text-center lead">If you are already registered, you can login!</p>
            <%- include('includes/_messages'); %>
            <div class="row">
                <div class="col-lg-10 my-3">
                    <h4>You can login!</h4>
                    <form action="/login/login" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                      </form>
                </div>
                <div class="col-lg-5 my-3">
                    <h4>You can register!</h4>
                    <form action="/login/register" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                      </form>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>


    </section>
    
<%- include('includes/_footer'); %>